.skill {
  padding: 0 0.5rem;
}
.skill__item {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.skill__item_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
}
.skill__item_progress {
  width: 100%;
}
.progress-bar {
  transition: 3s;
}

.progress {
  height: 8px;
}

.skill__item_progress:hover :last-child:last-child:nth-child(1) {
  background-color: var(--my-orange);
  transition: width 2s;
  width: 100% !important;
}
