@import url("https://fonts.googleapis.com/css2?family=Anton&family=Dosis:wght@300&family=Playfair+Display&family=Roboto+Condensed&family=Roboto:wght@100;500&family=Yanone+Kaffeesatz:wght@300&display=swap");
/* 
font-family: 'Anton', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --my-gray: #484f59;
  --my-mid-gray: #d1d1d1;
  --my-light-gray: #f6f6f8;
  --my-orange: #fdb455;
  --my-light-red: #cc574a;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

body {
  margin: 2rem;
  background: linear-gradient(to left top, cadetblue, rgb(95, 112, 160));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h3 {
  font-family: "Dosis", sans-serif;
}

.content-section,
.space-section {
  background-color: var(--my-light-gray);
}
.sidebar-section {
  background-color: var(--my-gray);
}

.sidebar {
  color: white;
}

.sidebar__item {
  border-top: 1px solid white;
}

.sidebar__contact,
.sidebar-social {
  text-decoration: none;
  color: white;
}
.sidebar-contact:hover {
  color: white;
  cursor: pointer;
  background-color: cadetblue;
}

.sidebar-social:hover {
  color: white;
  cursor: pointer;
  background-color: var(--my-light-red);
}

.content-header {
  font-family: "Playfair Display", serif;
  border-bottom: 1.5px solid #484f59;
  border-top: 1.5px solid #484f59;
}
.content-header h2 {
  color: var(--my-gray);
  text-transform: uppercase;
}

.sidebar-header {
  border-top: 0;
  font-family: "Playfair Display", serif;
}
.sidebar-header.border-top {
  border-top: 1px solid white;
  font-family: "Playfair Display", serif;
}

.item-text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.item-text__heading {
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 0;
}

.item-text__link {
  font-weight: 100;
  font-size: 13px;
  padding-bottom: 0;
  text-decoration: none;
  color: white;
}

.item-text__small {
  font-size: 14px;
  font-style: italic;
}

.item-text__italic {
  font-size: 16px;
  font-style: italic;
}

.icon__sm {
  width: 30px;
  font-size: 20px;
  font-weight: initial;
}
.icon__md {
  width: 40px;
  font-size: 30px;
  font-weight: initial;
}
.icon__lg {
  width: 60px;
  font-size: 50px;
  font-weight: initial;
}

.expertise-item {
  transition: 0.2s;
}

.expertise-item:hover {
  color: var(--my-light-red);
  transform: scale(1.05);
  transition: 0.2s;
}

.hobby-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  border-radius: 50%;
  margin: 5px;
  background: cadetblue;
  transition: 0.2s;
}

.hobby-box:hover {
  background: var(--my-orange);
  transform: scale(1.1);
  transition: 0.2s;
}


.bg-cadet {
  background: cadetblue;
}

p {
  text-align: justify;
}

@media (max-width: 768px) {
  p {
    text-align: left;
  }
  .biography__footer {
    display: none;
  }
}
